.button {
    border: 1px solid white;
    background-color: transparent;
    height: 34px;
    cursor: pointer;
}

.search-form__submit-button {
    width: 194px;
    align-self: flex-end;
}

.more-button {
    width: 100%;
    min-height: 34px;
}