.search-form__pseudo-checkbox {
    width: 19px;
    height: 19px;
    padding: 1px;
    border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
    content: '';
    display: block;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    opacity: 1;
}