*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* firefox не поддерживает -webkit-scrollbar
 нашел такой хак, чтобы стили ниже применялись только в firefox
 https://stackoverflow.com/questions/3123063/what-does-moz-document-url-prefix-do */
 
@-moz-document url-prefix() { 
  .custom-scrollbar {
    scrollbar-color: #d9d9d9 rgb(217 217 217 / 10%);
    scrollbar-width: thin;
  }
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__label input[type="text"] {
  min-width: 225px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}

.content__list-container {
  height: 298px;
  width: 399px;
  overflow: auto;
  position: relative;
}

.content__list,
.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__details h1 {
  margin-bottom: 15px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset {
  border: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 3px;
  cursor: pointer;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.search-form__label input[type="text"] {
  border: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 27px;
  color: #fff;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
