*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  background-color: #1b1919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* firefox не поддерживает -webkit-scrollbar
 нашел такой хак, чтобы стили ниже применялись только в firefox
 https://stackoverflow.com/questions/3123063/what-does-moz-document-url-prefix-do */

@-moz-document url-prefix() {
  .custom-scrollbar {
    scrollbar-color: #d9d9d9 rgb(217 217 217 / 10%);
    scrollbar-width: thin;
  }
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__details h1 {
  margin-bottom: 15px;
}

/* ===== ВИДЕО ===== */
.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== СПИСОК КАРТОЧЕК ===== */
.content__list-container {
  height: 298px;
  width: 399px;
  overflow: auto;
  position: relative;
}

.content__list,
.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

/* ===== КАРТОЧКИ ===== */
.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

/* ===== ССЫЛКИ ===== */
.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

/* ===== ТЕКСТ ===== */
.title {
  font-size: 75px;
  font-weight: 700;
  font-family: "Oswald";
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Oswald";
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 190px;
}

.content__video-card-description {
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ===== ФОРМА ПОИСКА ===== */
.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

/* ===== ТЕКСТОВОЕ ПОЛЕ ВВОДА ===== */
.search-form__label input[type="text"] {
  border: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 27px;
  min-width: 225px;
  color: #fff;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif;
}

/* ===== ЧЕКБОКСЫ ===== */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 3px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

/* ===== КНОПКИ ===== */
.button {
  color: #fff;
  font-weight: 700;
  border: 1px solid white;
  background-color: transparent;
  height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

/* ===== HOVER ===== */
.button:hover {
  text-decoration: underline;
}

.content__list-item:hover {
  text-decoration: underline;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

/* ===== ACTIVE ===== */
.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item:active {
  background-color: rgba(84, 80, 80, 1);
}

/* ===== FOCUS ===== */
.search-form__label:focus,
.button:focus,
.content__list-item:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid white;
}
